extends ../../layouts/admin

block content
  h1= title
  a(href="articles/new") Добавить статью

  each article in articles
    h2= article.title
    small= article.createdAt

  include ../../mixins/pagination
  +pagination(articles)
