extends ../../layouts/admin

block content
  h1= title

  form(action="/admin/articles", method="post")
    div(class="form-group")
      label Название статьи
      input(type="text" name="article[title]" class="form-control")

    div(class="form-group")
      label Краткое описание статьи
      textarea(name="article[description]" class="form-control")

    div(class="form-group")
      label Текст статьи
      textarea(name="article[content]" class="form-control")

    p
      input(type="submit" value="Добавить статью" class="btn btn-primary")
