doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(src="/javascripts/app.js")
    meta(name="robots" content="noindex,nofollow")
  body
    div(class='container')
      block content
