extends ../layouts/application

block content
  h1= title

  form(action="/users", method="post")
    p
      label email
        br
      input(type="text" name="user[email]")

    p
      label Пароль
        br
      input(type="password" name="user[password]")

    p
      input(type="submit" value="Зарегистрироваться")
